<li>
	<%= link_to gravatar_for(blog.user, size: 50), blog.user %>
	<span><%= link_to blog.user.name, blog.user %></span>
	<span><%= blog.content %></span>
	<span>
		Posted <%= time_ago_in_words(blog.created_at) %> ago.
		<% if current_user?(blog.user) %>
			<%= link_to "delete", blog, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
	</span>
</li>