<div class= "row">
  <div class="col-md-9">
    <div class="table-responsive">
      <table class="table bg-light table-striped">
        <thead class="bg-light">
          <tr>
            <th>ID</th>
            <th>Problem name</th>
            <th>Time Limit</th>
            <th>Memory Limit</th>
          </tr>
        </thead>
        <tbody>
          <% @problems.each do |probs| %>
          <tr>
            <td><%= link_to probs.id, probs %></td>
            <td><%= link_to probs.name.titleize, probs %></td>
            <td><%= probs.timelimit%> ms</td>
            <td>
              <%= probs.memlimit%> KB
              <% if logged_in? %>
                <% if current_user.admin?%>
                <%= link_to "Delete problem", probs,  method: :delete, 
                                  data: { confirm: "Your deletion can't be restored" }, class:"btn btn-danger btn-sm float-right" %>
                <%end%>
              <%end%> 
            </td>
            
          </tr>
          <% end %>
        </tbody>  
      </table>
    </div>
  </div>
  <div class="col-md-3">
         <%= render 'shared/new_exercise'%>
        </div>
</div>