<% provide(:title, "Edit user") %>

<div class="row ">
  <div class="col-md-6 offset-md-3" id="login-part">
    <div class="card border-success mb-3 card-form">
      <h2 class="SignUp">Update your profile</h2>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        
        <%= f.label :name , "Name" ,class:"label-part"%>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
        <%= f.text_field :name ,class:"form-control "%>
        </div>
      </div>

      <div class="form-group">
        
        <%= f.label :email , "Email" ,class:"label-part"%>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          </div>
        <%= f.email_field :email ,class:"form-control "%>
        </div>
      </div>

      <div class="form-group">
        
        <%= f.label :password , "Password" ,class:"label-part"%>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
          </div>
        <%= f.password_field :password ,class:"form-control "%>
        </div>
      </div>

      <div class="form-group">
        
        <%= f.label :password_confirmation, "Confirmation" , class:"label-part"%>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
          </div>
        <%= f.password_field :password_confirmation ,class:"form-control "%>
        </div> 
      </div>

        <div  id="collapseGravatar">
          <div class="card card-body" ">
          <%= gravatar_for @user%>
          <a href="http://gravatar.com/emails" target="_blank" class="btn btn-info">Change</a>

      
          </div>
        </div>

      <%= f.submit "Save changes",class: "btn btn-success", id:"ButtonChangeGravatar"%>
    <% end %>
    </div>


</div>