<% provide(:title, 'Submit solution') %>



<textarea id="editor" rows="30" style="width: 50%">
public class Test {

  public static void main(String[] args) throws Exception {
    System.out.println("Hello world!");
  }

}
</textarea>

<script>
$('#editor').ace({ theme: 'twilight', lang: 'java' })
</script>

  <div>
	<div>
		<%= form_for(@submission, url: submissions_path) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :solution_name, "File" %>
			<%= f.file_field :solution_name %>

			<%= f.submit "Submit"%>
		<% end %>
</div>
</div>