<% provide(:title, 'Submit solution') %>

<div>
	<div>
		<%= form_for(@submission, url: submissions_path) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :solution_name, "File" %>
			<%= f.file_field :solution_name %>

			<%= f.submit "Submit"%>
		<% end %>
    <div class="ui centered grid" id="codearea">      
      <div class="row"></div>
      <div class="row">
        <div class="seven wide column">
          <textarea id="code"></textarea>
        </div>
        <div class="seven wide column" id="preview">
          <canvas id="render"></canvas>
        </div>
      </div> 
    </div>
	</div>
</div>