<% provide(:title, 'Submit solution') %>

<div class="wrapper">  
    <div class="row">
    	<div class="col-md-9 ">

		    <div class="card bg-light">
		    	<h5 class="card-title text-center veryfirstLabel" >Summit solution</h5>
				  <%= select(:lang, :value, { "Java 8" => 1, "GNU C++" => 2, "Python" => 3 }) %>

<textarea id="editor" rows="30" style="width: 100%">
	public class Test {

	  public static void main(String[] args) throws Exception {
	    System.out.println("Hello world!");
	  }

	}
</textarea>
				<script>
				$('#editor').ace({ theme: 'twilight', lang: 'java' })
				</script>

			  	<div>

					<div class="form-group">
						<%= form_for(@submission, url: submissions_path) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>						
						
						<%= hidden_field_tag :problem_id, @problem.id %>
						<% if !@contest.nil? %>
							<%= hidden_field_tag :contest_id, @contest.id %>
						<% end %>
						<%= f.label :solution_name, "Choose file or source code" ,class:"submitBasicLabel"%>
						<%= f.file_field :solution_name ,class:"form-control-file"%>
						<div>Chú ý không sử dụng các hàm system("pause"), fopen, freopen, fstream, getch, kbhit (xem thêm phần hỏi đáp).
						 Mã thoát chương trình là 0. Không in ra các câu nhắc như "Nhap n", "Ket qua la".</div>
						<%= f.submit "Submit", class:"btn btn-success buttonsummit"%>
						<% end %>
						
					</div>
			  	</div>
		    </div>
		    
		</div>

      	<div class="col-md-3">
	       <%= render 'shared/new_exercise'%>
      	</div>
    
  	</div>
</div>

